
<li class="collection-item">
    <div class="row">
        <div class="col s12 m10">
            <h5>Author: {{author}}</h5>
            <h6>Title: {{title}}</h6>
            <p>Comment: {{body}}</p>
        </div>
        <div class="col s12 m2">
            <a class="waves-effect waves-light btn-large">X</a>
        </div>
    </div>

</li>


