

<div class="row">
    <div class="col s12">
        <div data-id = "{{id}}" class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col m10">
                        <span class="card-title"><a href="{{link}}" target="_blank">{{headline}}</a></span>
                    </div>
                    <div class="col m2">
                        <a class="waves-effect waves-light btn-large">Save Article</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Summary oh a summary.</p>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>